
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

input[type="file"],
input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.download-links {
  margin-top: 20px;
}

.download-links a {
  display: block;
  color: #007bff;
  margin-bottom: 5px;
  word-break: break-word;
  text-decoration: none;
}

.download-links a:hover {
  text-decoration: underline;
}


.app-footer {
  margin-top: 40px;
  padding: 15px 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
}

.app-footer a {
  color: #007bff;
  text-decoration: none;
}

.app-footer a:hover {
  text-decoration: underline;
}